@import "../../styles/color";


.link{
  display: inline-block;
}

.disabled{
  pointer-events: none;
  button{
    background-color: #ffe0b6 !important;
  }
}

.pad_top{
  padding-top: 50px;
}

.header_div{

  width: 100%;
  position: relative;
  height: 60vh;
  overflow: hidden;
  img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .content{

    position: absolute;
    z-index: 2;
    max-width: 800px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    h2{
      color: white;
      font-weight: bold;
      span{
        color: #8ed43d;
        font-style: italic;
        font-weight: 300;
      }
    }
    .search{
      margin-top: 60px;

      input{
        width: 67%;
        margin-right: 3%;
        height: 48px;
        border-radius: 10px;
        padding-left: 30px;
      }
      input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-style: italic;
      }
      input::-moz-placeholder { /* Firefox 19+ */
        font-style: italic;
      }
      input:-ms-input-placeholder { /* IE 10+ */
        font-style: italic;
      }
      input:-moz-placeholder { /* Firefox 18- */
        font-style: italic;
      }


      button{
        width: 30%;
        height: 48px;
        color: white;
        background-color: #8a84f2;
        border-radius: 10px;
        border: none;
      }

    }

  }

}

.categories_st{
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  position: relative;
  margin-top: -100px;

.section {
  width: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  span {
    margin-top: 10px;
    font-weight: bold;
    display: inline-block;
  }
}
  .section_active{
    transform: scale(1.2);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #8a84f2;
  }

}

.all_cards{

  margin-left: -10px;
  margin-right: -10px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;

  .card{
    padding: 15px;
    margin-bottom: 100px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    width: calc(50% - 20px);
    margin-right: 10px;
    margin-left: 10px;


    .coach_img{
      width: 30%;
      padding-bottom: 30%;
      position: relative;

      img{
        position: absolute;
        left: 50%;
        width: 100%;
        top: -15%;
        transform : translateX(-50%);
        border-radius: 3px;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
      }

    }
    .content{
      padding-left: 4%;
      width: 66%;

      h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .author{
        font-size: 12px;
        span{
          font-weight: bold;
          color: gray;
        }
      }
      .desc{
        font-size: 13px;
      }

    }
  }




  .club_details{
    width: 50%;

    p{
      font-size: 13px;
    span{
      font-weight: bold;
    }
    }
  }

  .total_rating{
    width: 50%;
    flex-wrap: wrap;

    div{
      display: flex;
      width: 100%;
      svg:first-child{
        margin-left: auto;
      }
      svg{
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-right: 8px;
      }
      svg:last-child{
        margin-right: 0 !important;
      }
    }

    span{
      float: right;
      display: inline-block;
      margin-top: 12px;
    }

  }


  .pad_top_10{
    margin-top: 10px;
  }

  .liked_by_div{
    margin-top: 15px;

    .user_image{
      width: 50px;
      height: 50px;
      position: relative;
      border-radius: 50%;
      border: 3px solid #f9f9f9;
      overflow: hidden;
      margin-left: -13px;
      background-color: #f9f9f9;
      img{
        width: 100%;
        height: 100%;
        position: absolute;
      }
      span{
        font-size: 13px;
        font-weight: bold;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }

    .user_image:first-child{
      margin-left: 0 !important;
    }

    button{
      background-color: #8a84f2;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      color: white;
      padding: 0 50px;
      margin-left: auto;
    }

  }

}


.sort{
  margin-top: 30px;
  text-align: right;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  span{
    font-weight: bold;
    margin-left: auto;
    padding-right: 4px;
    font-size: 14px;
  }
  color: #8a84f2;
  svg{
    padding-left: 4px;
    width: 14px;
    height: 14px;
  }

}






@media only screen and (max-width: 768px) {

  .categories_st{
    margin-top: -10px
  }
  .card{
    width: 100% !important;
  }

  .header_div{
    height: 50vh;

    img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .content {

      position: relative;
      margin-top: 70px;
      margin-bottom: 20px;
      padding: 0 20px;
      z-index: 2;
      max-width: 800px;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      h2 {
        color: white;
        font-weight: bold;
        font-size: 14px;
        span {
          color: #8ed43d;
          font-style: italic;
          font-weight: 300;
        }
      }

    }
  }

}


